<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

    <th:block th:fragment="nav">
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                <i class="fa fa-bars"></i>
            </button>

            <form th:action="@{/evento/search}"
                id="form-buscador" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                           aria-label="Search" aria-describedby="basic-addon2" name="q">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button">
                            <i class="fas fa-search fa-sm"></i>
                        </button>
                    </div>
                </div>
            </form>

            <ul class="navbar-nav ml-auto">

                <li class="nav-item dropdown no-arrow d-sm-none">
                    <a class="nav-link dropdown-toggle" id="searchDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-search fa-fw"></i>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                         aria-labelledby="searchDropdown">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small"
                                   placeholder="Search for..." aria-label="Search"
                                   aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </li>

                <div class="topbar-divider d-none d-sm-block"></div>

                <a th:if="${usuario == null}" th:href="@{/oauth2/authorization/google}" class="btn mr-2 d-lg-inline text-gray-600 small">Sign In</a>
                <!-- Nav Item - User Information -->
                <li th:if="${usuario != null}" class="nav-item dropdown no-arrow">
                    <!--<a th:if="${usuario == null}" class="btn">Sign In</a>-->
                    <a class="nav-link dropdown-toggle" id="userDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span th:if="${usuario != null}" th:text="${usuario.name}" class="mr-2 d-none d-lg-inline text-gray-600 small"></span>
                        <img th:if="${usuario != null}" class="img-profile rounded-circle" th:src="${usuario.photoUrl}">
                    </a>
                    <!-- Dropdown - User Information -->
                    <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                         aria-labelledby="userDropdown">
                        <a class="dropdown-item" href="/usuario/mis-eventos">
                            <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                            Mis Eventos
                        </a>
                        <a class="dropdown-item" href="/evento/form">
                            <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                            Crear Evento
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout">
                            <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                            Logout
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
    </th:block>

    <th:block th:fragment="eventos">
        <div id ="eventosDiv" class="card shadow mt-4" th:each="evento : ${eventos}">
            <div class="d-flex flex-row justify-content-between card-header py-3">
                <div class="flex-column">
                    <div class="d-flex">
                        <h5 class="m-0 font-weight-bold text-primary" th:text="${evento.nombre}"></h5>
                        <h5 class="m-0 font-weight-bold text-primary ml-1" th:text="' - ' + ${evento.anfitrion.name}"></h5>
                        <h5 th:if="${evento.acceso.name() == 'PRIVADO'}" th:text="${evento.acceso.alias}" style="margin-top: 3px" class="badge badge-pill badge-dark ml-2"></h5>
                        <h5 th:if="${evento.acceso.name() == 'PUBLICO'}" th:text="${evento.acceso.alias}" style="margin-top: 3px; background-color: blueviolet; color: #fff" class="badge badge-pill badge-light ml-2 mt-1"></h5>
                    </div>
                    <h7 class="m-0 font-weight-bold" th:text="${evento.fecha + ' | ' + evento.horario}"></h7>
                </div>
                <h5 class="m-0 font-weight-bold mr-2" th:text="${evento.tipoDeEvento.alias}"></h5>
            </div>
            <div class="card-body">
                <p th:text="${evento.descripcion}"></p>
            </div>
            <div th:if="${usuario != null}" class="d-flex flex-row justify-content-between">
                <div style="width: 15%">
                    <a th:if="${evento.anfitrion.id != usuario.id and evento.acceso.name() == 'PUBLICO'}" th:href="@{/evento/participar(id=${__evento.id__})}" style="width: 100%" class="btn btn-success m-3">Participar</a>
                    <a th:if="${evento.anfitrion.id != usuario.id and evento.acceso.name() == 'PRIVADO'}" th:href="@{/evento/participar(id=${__evento.id__})}" style="width: 100%" class="btn btn-success m-3">Solicitar permiso</a>
                    <a th:if="${evento.anfitrion.id == usuario.id}" th:href="@{/evento/participantes(idEvento=${evento.id})}" style="width: 100%" class="btn btn-success m-3">Detalles</a>
                </div>
                <div class="d-flex flex-row w-25">
                    <a th:if="${usuario.rol.name() == 'ADMIN' or evento.anfitrion.id eq usuario.id}" th:href="@{/evento/form(id=${__evento.id__})}"  style="width: 100%" class="btn btn-warning m-3">Editar</a>
                    <a th:if="${usuario.rol.name() == 'ADMIN' or evento.anfitrion.id eq usuario.id}" th:href="@{/evento/eliminar(id=${__evento.id__})}" style="width: 100%" class="btn btn-danger m-3">Eliminar</a>
                </div>
            </div>
        </div> 
    </th:block>

    <th:block th:fragment="scripts">
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
        <script src="/js/sb-admin-2.min.js"></script>
        <script src="/vendor/chart.js/Chart.min.js"></script>
        <script src="/js/demo/chart-area-demo.js"></script>
        <script src="/js/demo/chart-pie-demo.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </th:block>

</body>
</html>
