<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Turismo Mendoza</title>

        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <link href="/css/sb-admin-2.css" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    </head>
    <style>
        .mountain {
            clip-path: polygon(0% 0%, 100% 0%, 100% 6%, 5% 20%, 5% 31%, 50% 40%, 100% 50%, 50% 60%,100% 70%,50% 80%,100% 90%,50% 100%, 0% 100%);
        }        
        .mountain-map {
            /*position: absolute;*/
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% -50%);
        }
        .btnCrear {
            margin-left: 5%;
            margin-top: 5%;
            color: black
        }
    </style>

    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion mountain" id="accordionSidebar">

                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-mountain"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Mendoza</div>
                </a>
                <div class="btnCrear">
                    <a type="button" class="btn btn-secondary" th:href="@{/evento/form}">Crear evento</a>
                </div>

                <!--                 Sidebar - Brand 
                                 Divider 
                                <hr class="sidebar-divider my-0">
                
                                 Nav Item - Dashboard 
                                <li class="nav-item active">
                                    <a class="nav-link" href="index.html">
                                        <i class="fas fa-fw fa-tachometer-alt"></i>
                                        <span>Dashboard</span></a>
                                </li>
                
                                 Divider 
                                <hr class="sidebar-divider">
                
                                 Heading 
                                <div class="sidebar-heading">
                                    Interface
                                </div>
                
                                 Nav Item - Pages Collapse Menu 
                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                                       aria-expanded="true" aria-controls="collapseTwo">
                                        <i class="fas fa-fw fa-cog"></i>
                                        <span>Components</span>
                                    </a>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                                        <div class="bg-white py-2 collapse-inner rounded">
                                            <h6 class="collapse-header">Custom Components:</h6>
                                            <a class="collapse-item" href="buttons.html">Buttons</a>
                                            <a class="collapse-item" href="cards.html">Cards</a>
                                        </div>
                                    </div>
                                </li>
                
                                 Nav Item - Utilities Collapse Menu 
                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                                       aria-expanded="true" aria-controls="collapseUtilities">
                                        <i class="fas fa-fw fa-wrench"></i>
                                        <span>Utilities</span>
                                    </a>
                                    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                                         data-parent="#accordionSidebar">
                                        <div class="bg-white py-2 collapse-inner rounded">
                                            <h6 class="collapse-header">Custom Utilities:</h6>
                                            <a class="collapse-item" href="utilities-color.html">Colors</a>
                                            <a class="collapse-item" href="utilities-border.html">Borders</a>
                                            <a class="collapse-item" href="utilities-animation.html">Animations</a>
                                            <a class="collapse-item" href="utilities-other.html">Other</a>
                                        </div>
                                    </div>
                                </li>
                
                                 Divider 
                                <hr class="sidebar-divider">
                
                                 Heading 
                                <div class="sidebar-heading">
                                    Addons
                                </div>
                
                                 Nav Item - Pages Collapse Menu 
                                <li class="nav-item">
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
                                       aria-expanded="true" aria-controls="collapsePages">
                                        <i class="fas fa-fw fa-folder"></i>
                                        <span>Pages</span>
                                    </a>
                                    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                                        <div class="bg-white py-2 collapse-inner rounded">
                                            <h6 class="collapse-header">Login Screens:</h6>
                                            <a class="collapse-item" href="/login">Login</a>
                                            <a class="collapse-item" href="/registro">Registro</a>
                                            <a class="collapse-item" href="forgot-password.html">Olvido la contraseña</a>
                                            <div class="collapse-divider"></div>
                                            <h6 class="collapse-header">Other Pages:</h6>
                                            <a class="collapse-item" href="404.html">404 Page</a>
                                            <a class="collapse-item" href="blank.html">Blank Page</a>
                                        </div>
                                    </div>
                                </li>
                
                                 Nav Item - Charts 
                                <li class="nav-item">
                                    <a class="nav-link" href="charts.html">
                                        <i class="fas fa-fw fa-chart-area"></i>
                                        <span>Charts</span></a>
                                </li>
                
                                 Nav Item - Tables 
                                <li class="nav-item">
                                    <a class="nav-link" href="tables.html">
                                        <i class="fas fa-fw fa-table"></i>
                                        <span>Tables</span></a>
                                </li>
                
                                 Divider 
                                <hr class="sidebar-divider d-none d-md-block">
                
                                 Sidebar Toggler (Sidebar) 
                                <div class="text-center d-none d-md-inline">
                                    <button class="rounded-circle border-0" id="sidebarToggle"></button>
                                </div>
                
                                 Sidebar Message 
                                <div class="sidebar-card">
                                    <img class="sidebar-card-illustration mb-2" src="img/undraw_rocket.svg" alt="">
                                    <p class="text-center mb-2"><strong>SB Admin Pro</strong> is packed with premium features, components,
                                        and more!</p>
                                    <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Upgrade to
                                        Pro!</a>
                                </div>-->

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">

                    <div th:replace="fragments :: nav"></div>

                    <div class="container-fluid">

                        <div style="border-radius: 10px" class="mountain-map" id="map"></div>
<!--                        <div id="eventosDiv"></div>-->
                        <div th:replace="fragments :: eventos"></div>

                        <div class="d-none" th:each="json : ${eventosJson}">
                            <input type="hidden" class="json" th:value="${json}"/>
                        </div>

                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>

        <script>
                                        let map;
                                        var markers = [];

                                        const jsons = document.querySelectorAll('.json');
                                        jsons.forEach(json => {
                                            markers.push(JSON.parse(json.value));
                                        });

                                        function initMap() {
                                            map = new google.maps.Map(document.getElementById("map"), {
                                                center: {lat: -32.8933144, lng: -68.8490985},
                                                zoom: 9
                                            });
                                            var infoWindow = new google.maps.InfoWindow();
                                            for (i = 0; i < markers.length; i++) {
                                                var position = new google.maps.LatLng(markers[i].lat, markers[i].lon);
                                                marker = new google.maps.Marker({
                                                    position: position,
                                                    map: map,
                                                    title: markers[i].nombre
                                                });
                                                const infoWindowContent =
                                                        '<div class="info_content">' +
                                                        '<div class="d-flex">' +
                                                        `<img style="width:30px; height:30px; border-radius:50%; margin-right:2px" src="${markers[i].urlPhotoAnfitrion}">` +
                                                        `<h4>${markers[i].nombreAnfitrion}</h4>` +
                                                        '</div>' +
                                                        `<h5>${markers[i].nombre} - ${markers[i].tipo}</h5>` +
                                                        `<p>${markers[i].fecha}</p>` +
                                                        `<p>${markers[i].descripcion}</p>` +
                                                        '</div>'
                                                        ;
                                                google.maps.event.addListener(marker, 'click', (function (marker, i) {
                                                    return function () {
                                                        infoWindow.setContent(infoWindowContent);
                                                        infoWindow.open(map, marker);
                                                    }
                                                })(marker, i));
                                                // Center the map to fit all markers on the screen
                                            }
                                        }

                                        function handleLocationError(browserHasGeolocation, infoWindow, pos) {
                                            infoWindow.setPosition(pos);
                                            infoWindow.setContent(
                                                    browserHasGeolocation
                                                    ? "Error: The Geolocation service failed."
                                                    : "Error: Your browser doesn't support geolocation."
                                                    );
                                            infoWindow.open(map);
                                        }



        </script>
        <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
        <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCV0g9AG_ll8UhZ1coTbed0HL2rVpQaXWI&callback=initMap&libraries=&v=weekly"
        async></script>

    </body>

</html>