<!DOCTYPE html>
<html lang="es">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Turismo Mendoza</title>

        <!-- Custom fonts for this template-->
        <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
        <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

        <!-- Custom styles for this template-->
        <link href="/css/sb-admin-2.min.css" rel="stylesheet">
        <link href="/css/sb-admin-2.css" rel="stylesheet">

    </head>
    <style>
        .mountain {
            clip-path: polygon(0% 0%, 100% 0%, 100% 6%, 5% 20%, 5% 31%, 50% 40%, 100% 50%, 50% 60%,100% 70%,50% 80%,100% 90%,50% 100%, 0% 100%);
        }        
        .mountain-map {
            /*position: absolute;*/
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%, 0% -50%);
        }
        .btnCrear {
            margin-left: 5%;
            margin-top: 5%;
            color: black
        }
    </style>
    <body id="page-top">

        <!-- Page Wrapper -->
        <div id="wrapper">

            <!-- Sidebar -->
            <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion mountain" id="accordionSidebar">

                <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-mountain"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">Mendoza</div>
                </a>
                <div class="btnCrear">
                    <a type="button" class="btn btn-secondary" th:href="@{/evento/form}">Crear evento</a>
                </div>

            </ul>
            <!-- End of Sidebar -->

            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">

                <!-- Main Content -->
                <div id="content">
                    
                    <div th:replace="fragments :: nav"></div>
                    
                    <div class="container-fluid">
                        <div class="card shadow mt-4" th:each="evento : ${eventos}">
                            <div class="d-flex flex-row justify-content-between card-header py-3">
                                <div class="flex-column">
                                    <div class="d-flex">
                                        <h5 class="m-0 font-weight-bold text-primary" th:text="${evento.nombre}"></h5>
                                        <h5 class="m-0 font-weight-bold text-primary ml-1" th:text="' - ' + ${evento.anfitrion.name}"></h5>
                                    </div>
                                    <h7 class="m-0 font-weight-bold" th:text="${evento.fecha}"></h7>
                                </div>
                                <h5 class="m-0 font-weight-bold mr-2" th:text="${evento.tipoDeEvento.alias}"></h5>
                            </div>
                            <div class="card-body">
                                <p th:text="${evento.descripcion}"></p>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <div th:if="${usuario.rol.name() == 'ADMIN' or evento.anfitrion.id eq usuario.id}" class="d-flex flex-row w-25">
                                    <a th:href="@{/evento/editar(id=${__evento.id__})}"  style="width: 100%" class="btn btn-warning m-3">Editar</a>
                                    <a th:href="@{/evento/eliminar(id=${__evento.id__})}" style="width: 100%" class="btn btn-danger m-3">Eliminar</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->

                </div>
                <!-- End of Main Content -->

                <!-- Footer -->
                <footer class="sticky-footer bg-white">
                    <div class="container my-auto">
                        <div class="copyright text-center my-auto">
                            <span>Copyright &copy; Your Website 2020</span>
                        </div>
                    </div>
                </footer>
                <!-- End of Footer -->

            </div>
            <!-- End of Content Wrapper -->

        </div>
        <!-- End of Page Wrapper -->

        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fas fa-angle-up"></i>
        </a>

        <!-- Logout Modal-->
        <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="login.html">Logout</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap core JavaScript-->
        <script src="vendor/jquery/jquery.min.js"></script>
        <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="js/sb-admin-2.min.js"></script>

        <!-- Page level plugins -->
        <script src="vendor/chart.js/Chart.min.js"></script>

        <!-- Page level custom scripts -->
        <script src="js/demo/chart-area-demo.js"></script>
        <script src="js/demo/chart-pie-demo.js"></script>


    </body>

</html>